.container {
    height: 80vh;
    aspect-ratio: 1;
    background-color: burlywood;
    margin: 10vh auto 10vh auto;
}

.hand {
    height: 50%;
    width: 5%;
    background-color: cadetblue;
    margin-left: 47.5%;
    transform-origin: 50% 100% 0;
    /* transform: rotate(0deg);
    animation-name: move-hands;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

@keyframes move-hands {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ticks {
    width: 20%;
    margin: 25% auto 0 auto;
    background-color: aliceblue;
    text-align: center;
}